## Arithmetic Operators

In [39]:
# Arithmetic Operators
# Python supports basic arithmetic operations:
# Addition (+), Subtraction (-), Multiplication (*), Division (/), Modulus (%), Exponentiation (**)

a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:",a-b ) # Your code from here and on
print("Multiplication:", a*b)
print("Division:", a/b)
print("Floor Division:",a//b )
print("Modulus:",a%b )
print("Exponentiation:",a**b )

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

## Expressions

In [38]:
# Expressions
# An expression is a combination of values, variables, and operators that Python can evaluate.

x = 5
y = 2
a = x * (y + 3) # Your code to change a and b to different expressions
b = x * y + 3

print("Expression result: a =", a, " b =", b)

Expression result: a = 25  b = 13

## Arithmetic Functions

In [37]:
# Arithmetic Functions
# Python provides built-in functions like round() and abs()

value = -7.89627

print("Absolute value:", abs(value))
print("Rounded value:", round(value, 3))

# Your code here

Absolute value: 7.89627
Rounded value: -7.896

## Strings

In [36]:
# Strings
# Strings are sequences of characters enclosed in quotes.

greeting1 = "Hello, World!"
greeting2 = 'Hello' + ', ' + "World!"
print(greeting1)
print(greeting2)
print("Length of string 1:", len(greeting1))
print("Uppercase:", greeting2.upper())

# Your code here

Hello, World!
Hello, World!
Length of string 1: 13
Uppercase: HELLO, WORLD!

## Values and Variables

In [35]:
# Values and Variables
# Variables store values. Use type() to check the type of a value.

num = 42
text = "Python"
int_num = int("123")

print("Type of num:", type(num))
print("Type of text:", type(text))
print("Convert string to int:", int("123"))
print("Convert string to float:", float("123.456"))
print("Convert float to int:", int(123.456))

# Your code here

Type of num: <class 'int'>
Type of text: <class 'str'>
Convert string to int: 123
Convert string to float: 123.456
Convert float to int: 123

## Variable Assignments and Statements

In [34]:
# Variable Assignments and Statements
# Use = to assign values to variables.

x = 10
y = x + 5
print("Value of y:", y)

Value of y: 15

## Variable Naming Rules and Keywords

In [33]:
# Variable Naming Rules and Keywords
# Variable names must start with a letter or underscore and cannot be Python keywords.

# Valid variable names
my_var = 1
_var2 = 2

# Invalid: 2var = 3 (starts with a number)
# Invalid: if = 4 (if is a keyword)

import keyword
print("Python keywords:", keyword.kwlist) # Print out a list of Python keywords

Python keywords: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Math Module

In [32]:
# Math Module
# Import the math module to access mathematical functions

import math

print("Square root of 16:", math.sqrt(16))
print("Value of pi:", math.pi)
print("Cosine of 0:", math.cos(0))

# Your code here to use math functions. Do what you like!

Square root of 16: 4.0
Value of pi: 3.141592653589793
Cosine of 0: 1.0

## TypeErrors

In [31]:
# TypeErrors
# TypeErrors occur when operations are applied to incompatible types

# Example:
try:
    result = "hello" + "5"
except TypeError as e:
    print("TypeError:", e)

# Fix the error

## Comments

In [30]:
# Comments
# Use comments to explain code. Comments start with #

# This is a comment
x = 5  # Assign 5 to x
print(x) # Add a comment here

5

# Exercises
# Try these:
# 1. Create a variable and assign it a string.
# 2. Use math.sqrt() to find the square root of a number.
# 3. Write a comment explaining what your code does.

In [29]:
x=("Lebron is my goat ")
print(x)

Lebron is my goat

In [28]:
import math
math.sqrt(16)
print(math.sqrt(16))

4.0

In [27]:
comments = "this code explains why i hate stairs"
print(comments)

this code explains why i hate stairs

## Functions

In [26]:
# Functions
# Functions are reusable blocks of code defined using def

def greet():
    print("Hello from a function!")

greet()

# Your code here to define and call more functions

Hello from a function!

## Parameters and Arguments

In [25]:
# Parameters and Arguments
# Functions can accept parameters

def greet(name):
    print("Hello", name)

greet("Alice")

# Your code here to define and call functions with parameters

Hello Alice

## Calling Functions and Local Variables

In [24]:
# Calling Functions and Local Variables
# Variables inside functions are local to that function

def add(a, b):
    result = a + b
    return result

print("Sum:", add(3, 4))

print(result)  # This will raise an error because result is local to add()

# Your code here to define and call more functions with local variables

Sum: 7

NameError: name 'result' is not defined

## Loops

In [28]:
# Loops
# Use for loops to repeat actions

for i in range(5):
    print("Iteration", i)

# Your code here to define and use more loops

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4


# Loop Through a List
Loop through a list of forces and calculate stress using σ = F / A. Flag any stress that exceeds the yield limit.

In [32]:
forces = [600, 3000, 1500, 2000]  # in Newtons
area = 0.005  # cross-sectional area in m²
yield_limit = 300000  # in Pascals

for F in forces:
    stress = F / area
    status = "OK"
    if stress > yield_limit:
        status = "Exceeds yield limit!"
    print(f"Force: {F} N → Stress: {stress:.2f} Pa → {status}")

# Modify the code above to add more forces and change area and yield_limit

Force: 600 N → Stress: 120000.00 Pa → OK
Force: 3000 N → Stress: 600000.00 Pa → Exceeds yield limit!
Force: 1500 N → Stress: 300000.00 Pa → OK
Force: 2000 N → Stress: 400000.00 Pa → Exceeds yield limit!

# Print Text

In [1]:
print('text'[:5]) # NameError: name 'text' is not defined. Need to define 'text' first.

# Fix the error

text

# Final Exercises
# 1. Write a function that returns the square of a number.
# 2. Use a loop to print numbers from 1 to 10.
# 3. Use round() and abs() in a function.

In [52]:
def square(x):
  return x * x
print(square(4))
print(square(10))

16
100

In [17]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [53]:
round(3.15151151615154454)
abs(-11511694161654)
print(round(3.15151151615154454))
print(abs(-11511694161654))

3
11511694161654